<!DOCTYPE html>
<html>
    <head>
        <title>My fourth View!!</title>
    </head>
    <body>
        <% date = DateTime.now.strftime('%m/%d/%Y') %>
        <h1><%= date %></h1>


    </body>
</html>
