<!DOCTYPE html>
<html>
    <head>
        <title>My fourth View!!</title>
    </head>
    <body>
        <% date = Date.today.strftime("%A, %B %d, %Y") %>
        <h1><%= date %></h1>


    </body>
</html>
