<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>I'm scripting yo</h1>
        <% x = [1,2,3,5]   %>
        <% x.each do |num| %>
        <%  y = num * num %>
        <h1><%=  y  %></h1>
          <% end %>
    </body>
</html>
